html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

div{
	font-family: "Comic Sans MS";
	height: 100%;
	width: 100%;
}

button {
	background-color: #4eb151;
	border-radius: 5px;
	color: white;
}

/* Navigation bar */
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
}

header li {
	float: left
}

header li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header li a:hover:not(.active) {
	background-color: #333;
}

.active {
	background-color: #4eb151;
}

/* sections for about, todo item and add item area */
section {
	background-color: #D3D3D3;
	margin: 0;
	padding: 1em;
	height: 100%;
}

#about_div {
	margin: auto;
	width: 50%;
	height: 50%;
	text-align: center;
	border: 1px solid #4eb151;
	border-radius: 5px;
	background-color: #FFF;
}

#section_left {
	float: left;
	width: 60%;
	border-right:  2px solid gray;
}

#section_left button {
	background-color: #D3D3D3;
	color: black;
}

#section_left p {
	display: inline-block;
	padding-left: 5px;
}

#todo_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#todo_list li {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	border: 1px solid #4eb151;
	border-radius: 5px;
	background-color: #FFF;
}

#del_btn_p {
	float: right;
	padding-right: 5px;
}

#section_right {
	overflow: hidden;
}

/* Add item area */
form {
	border: 1px solid #4eb151;
	border-radius: 5px;
	padding-left: 10px;
	text-align: center;
	width: 80%;
	background-color: white;
}

#todo_subject {
	margin-bottom: 5px;
	margin-top: 20px;
	height: 20px;
	width: 80%;
	position: relative;
}

#todo_description {
	width: 80%;
	position: relative;
	resize: none;
}

#add_btn {
	margin: 20px;
}

/* footer */
footer {
	color: white;
	background-color: #333;
	clear: left;
	text-align: center;
}



